@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');

.dir-rtl {
	font-family: 'Noto Naskh Arabic', sans-serif;
	text-align: right;
}

.dir-rtl::placeholder {
	text-align: right;
}

.preview-move {
	position: relative;
}

.preview-move::before {
	content: '';
	position: absolute;
	left: -1rem;
	right: -1rem;
	height: 2px;
	background-color: #3b82f6;
	top: 0;
	transform: translateY(-50%);
	z-index: 50;
}

.preview-move-invalid::before {
	background-color: #ef4444;
	opacity: 0.5;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'Pretendard-Regular', sans-serif;
}
